body {
  background: #07061d;
  font: 18px Arial, sans-serif;
  width: 1080px;
  margin: 0 auto;
}

h1 {
  color: #000000;
}

h3 {
  color: #000000;
}

body {
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  display: flex;
}

#page-container {
  position: relative;
  /* height: 50%; */
  min-height: 90vh;
}

#inlineView {
  display: inline-block;
  margin: 0;
}

.exploreButton {
  transition: 0.5s linear;
  border-radius: 5px;
}

.exploreButton:hover {
  background-color: #2de3e9;
}

.inlineTextButton {
  display: inline-block;
  margin: 0;
}

#head {
  height: 20%;
}

#head #appName {
  font: 50px Arial, sans-serif;
  color: #2de3e9;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.not-visible {
  display: none;
}

#upload-button {
  color: #000000;
  border: 2px white solid;
  align-items: center;
  /* padding-left: 10px; */
  border-radius: 10%;
}

/* Style tab links */

.tablink {
  background-color: #061774;
  color: white;
  float: left;
  border-right: 2px #000000;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  transition: 0.5s linear;
}

.tablink:hover {
  background-color: #25109e;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.resultContainer {
  display: inline-flex;
}

.value-labels {
  text-align: right;
  padding-left: 530px;
}

/* padding-left value should be 130px less that value-labels */

.value-labels-compile {
  text-align: right;
  padding-left: 400px;
}

.value-labels-dll{
  text-align: right;
  padding-left: 500px;
}

.value-labels-other{
  text-align: right;
  padding-left: 610px;
}

.mt-3 {
  width: 90%;
  height: 120%;
}

#Scan {
  background-color: #255091;
  border-radius: 20px;
}

#News {
  background-color: #255091;
  border-radius: 20px;
}

#Contact {
  background-color: #255091;
  border-radius: 20px;
}

#About {
  background-color: #255091;
  border-radius: 20px;
}

#scan-box {
  flex: 1;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.container {
  align-items: center;
}

.container-result {
  padding-top: 20px;
}

#result-filename {
  color: green;
}

.container-result .panel .panel-body {
  width: 100%;
  color: #000000;
}

#text-result {
  margin-top: -16px;
}

#severityHeader {
  color: red;
}

#severitySpan {
  display: inline-flex;
}

.resultdiv {
  margin-top: -10px;
  background-color: white;
}

.panel-body p {
  font-size: 13px;
  margin-top: -5px;
}

#footer {
  width: 100%;
  height: 2.5rem;
  /*Footer height */
}

#scan-btn {
  color: #000000;
  width: 10rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin-left: 40rem;
  transition: linear 0.3s;
  border-radius: 10px;
}

#file-upload-button:hover {
  color: white;
  background-color: black;
}

#scan-btn:hover {
  color: white;
  background-color: gray;
}

#export-div {
  text-align: center;
}

#csv-button {
  color: black;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  transition: linear 0.2s;
}

#csv-button:hover {
  color: white;
  background-color: gray;
}

#footer-text {
  color: white;
  background-color: rgba(25, 66, 52, 0.2);
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}