body {
  background: #07061d;
  font: 18px Arial, sans-serif;
  width: 1080px;
  margin: 0 auto;
}

h1 {
  color: #000000;
}

h3 {
  color: #000000;
}

body {
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  display: flex;
}

#page-container {
  position: relative;
  /* height: 50%; */
  min-height: 90vh;
}

#head {
  height: 20%;
}

#head #appName {
  font: 50px Arial, sans-serif;
  color: #2de3e9;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.not-visible {
  display: none;
}

#upload-button {
  color: #000000;
  border: 2px white solid;
  align-items: center;
  /* padding-left: 10px; */
  border-radius: 10%;
}

/* Style tab links */

.tablink {
  background-color: #061774;
  color: white;
  float: left;
  border-right: 2px #000000;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #25109e;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.mt-3 {
  width: 90%;
}

#Scan {
  background-color: #255091;
}

#News {
  background-color: #255091;
}

#Contact {
  background-color: #255091;
}

#About {
  background-color: #255091;
}

#scan-box {
  flex: 1;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.container {
  align-items: center;
}

.container-result {
  padding-top: 30px;
}

.container-result .panel .panel-body {
  height: 200px;
  width: 100%;
  color: #000000;
}

#footer {
  width: 100%;
  height: 2.5rem;
  /*Footer height */
}

#scan-btn {
  color: #000000;
  width: 10rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin-left: 40rem;
  transition: linear 0.3s;
  border-radius: 10px;
}
#file-upload-button:hover {
  color: white;
  background-color: black;
}

#scan-btn:hover {
  color: white;
  background-color: black;
}

#export-div {
  text-align: center;
}

#csv-button {
  color: black;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  transition: linear 0.2s;
}

#csv-button:hover {
  color: white;
  background-color: black;
}

#footer-text {
  color: white;
  background-color: rgba(25, 66, 52, 0.2);
}
